<p> {{isCorrect}} </p>

<div class="card">
  <p> What does this status code represent? </p>
  <p> {{correctCode}} </p>
</div>

<div class="answers">

  {{#each choices}}
    <form method="post" action="/">
      <input type="hidden" name="userAnswer" value={{this.code}} />
      <input type="hidden" name="correctAnswer" value={{@root.correctCode}} />
      <button class="btn" type="submit"> {{this.def}} </button>
    </form>
  {{/each}}
</div>
